@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?fp8h2m");
  src: url("../fonts/icomoon.eot?fp8h2m#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fp8h2m") format("truetype"), url("../fonts/icomoon.woff?fp8h2m") format("woff"), url("../fonts/icomoon.svg?fp8h2m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"], .block-quality.big:before, .block-quality.big:after, .items-holder h3:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pattern:before {
  content: "\e900"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-cogs:before {
  content: "\f085"; }

.icon-gears:before {
  content: "\f085"; }

.icon-comments:before {
  content: "\f086"; }

.icon-thumbs-o-up:before {
  content: "\f087"; }

.icon-money:before {
  content: "\f0d6"; }

.icon-caret-left:before {
  content: "\f0d9"; }

.icon-caret-right:before {
  content: "\f0da"; }

.icon-quote-left:before {
  content: "\f10d"; }

.icon-quote-right:before {
  content: "\f10e"; }

.icon-smile-o:before {
  content: "\f118"; }

.icon-heartbeat:before {
  content: "\f21e"; }

.icon-phone:before {
  content: "\f095"; }

.icon-caret-down:before {
  content: "\f0d7"; }

.icon-envelope:before {
  content: "\f0e0"; }

.contacts-list, .drop ul, .unstyled-list, #main ul:not([id]):not([class]), .services-section ul, .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

#header {
  position: relative; }

.header-top {
  background: #000 url("../images/bg01.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #9c9c9c;
  font-size: 10px;
  padding: 10px 0 25px;
  position: relative;
  z-index: 99; }
  @media (max-width: 1023px) {
    .header-top {
      font-size: 10px; } }
  @media (min-width: 1024px) {
    .header-top {
      padding: 15px 0 35px;
      font-size: 14px; } }
  @media (max-width: 1023px) {
    .header-top .container {
      width: 100%; } }
  @media (min-width: 1024px) {
    .header-top .container {
      width: 1200px; } }
  .header-top .slogan {
    display: none; }
    @media (min-width: 1024px) {
      .header-top .slogan {
        display: inline-block;
        font-family: "Roboto Slab", serif;
        font-weight: 300;
        margin-bottom: 5px; } }

.contacts-list {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 370px) {
    .contacts-list {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .contacts-list {
      padding: 0 15px; } }
  @media (min-width: 1024px) {
    .contacts-list {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding: 0; } }
  .contacts-list li {
    max-width: 48%; }
    @media (min-width: 1024px) {
      .contacts-list li {
        padding-left: 20px; } }
    .contacts-list li span {
      display: inline-block;
      margin: 2px 7px 0 0;
      color: #e0307e; }
  .contacts-list a {
    color: #9c9c9c; }
    .contacts-list a:hover {
      color: #e0307e; }

.header-bottom {
  background: #fff;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 15px;
  right: 15px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
  margin-top: -15px; }
  @media (min-width: 768px) {
    .header-bottom {
      left: 25px;
      right: 25px; } }
  @media (min-width: 1024px) {
    .header-bottom {
      width: 970px;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      margin-top: -25px; } }
  @media (min-width: 1200px) {
    .header-bottom {
      width: 1200px; } }
  .header-bottom .logo-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px; }
  .header-bottom .nav-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.logo {
  width: 160px;
  float: left;
  position: relative; }
  @media (min-width: 1024px) {
    .logo {
      width: 125px; } }
  @media (min-width: 1024px) {
    .logo {
      width: auto; } }
  .logo a {
    display: block; }
  .logo img {
    width: 100%;
    display: block; }

.nav-holder {
  background: #0e9eda;
  position: relative; }
  .nav-holder:before {
    position: absolute;
    content: '';
    border: 70px solid #fff;
    border-bottom: 0 solid #fff;
    border-left: 0 solid #fff;
    border-right: 40px solid #0e9eda;
    left: -40px; }

.nav-opener {
  float: right;
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 4;
  margin-right: 10px; }
  .nav-opener:hover {
    opacity: .9; }
  .nav-active .nav-opener span {
    opacity: 0; }
  .nav-active .nav-opener:before, .nav-active .nav-opener:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    left: 15%;
    right: 15%;
    background-color: #fff; }
  .nav-active .nav-opener:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .nav-opener span, .nav-opener:before, .nav-opener:after {
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    height: 2px;
    margin-top: -1px; }
  .nav-opener:before, .nav-opener:after {
    content: '';
    top: 30%; }
  .nav-opener:after {
    top: 70%; }
  @media (min-width: 1024px) {
    .nav-opener {
      display: none; } }

.nav-wrap {
  -webkit-transition: right 0.3s ease-in-out;
          transition: right 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  background-color: #0e9eda;
  width: 100%;
  z-index: 3;
  padding: 80px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-active .nav-wrap {
    right: 0; }
  @media (min-width: 1024px) {
    .nav-wrap {
      position: static;
      width: auto;
      height: auto;
      float: right;
      background-color: transparent;
      padding: 0; } }

#nav {
  font-family: "Roboto Slab", serif;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px; }
  @media (min-width: 1024px) {
    #nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      font-size: 16px;
      overflow: visible; } }
  #nav li {
    width: 100%;
    text-align: center;
    padding-bottom: 15px; }
    #nav li.hover a:after {
      width: 100%; }
    #nav li.hover .drop {
      max-height: 600px;
      opacity: 1;
      visibility: visible; }
      @media (min-width: 1024px) {
        #nav li.hover .drop {
          left: 50%; } }
    @media (min-width: 1024px) {
      #nav li {
        padding: 0 15px;
        width: auto;
        position: relative; } }
    #nav li.active a {
      color: #e0307e; }
  #nav a {
    display: block;
    color: #fff;
    position: relative; }
    #nav a:hover {
      color: #e0307e; }
      @media (min-width: 1024px) {
        #nav a:hover {
          color: #fff;
          border-color: #e0307e; } }
      @media (min-width: 1024px) {
        #nav a:hover:after {
          width: 100%; } }
    @media (min-width: 1024px) {
      #nav a {
        padding: 3px 5px; } }
    @media (min-width: 1024px) {
      #nav a:after {
        -webkit-transition: width 0.3s ease-in-out;
                transition: width 0.3s ease-in-out;
        position: absolute;
        content: '';
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 0;
        height: 4px;
        bottom: -2px;
        background: #e0307e; } }
    #nav a span {
      display: inline-block;
      vertical-align: middle; }
      @media (min-width: 1024px) {
        #nav a span {
          margin-left: 3px; } }
  @media (min-width: 1024px) {
    #nav .drop li {
      padding: 0; } }
  @media (min-width: 1024px) {
    #nav .drop a:before, #nav .drop a:after {
      display: none; } }
  #nav .drop a:hover {
    color: #e0307e;
    border-color: transparent; }
  @media (min-width: 1024px) {
    #nav .drop a {
      -webkit-transition: color 0.3s ease-in-out;
              transition: color 0.3s ease-in-out;
      padding: 5px 10px; } }

.drop {
  -webkit-transition: max-height 0.3s ease-in-out;
          transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  font-size: 16px; }
  @media (min-width: 1024px) {
    .drop {
      -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      position: absolute;
      top: 100%;
      left: -9999px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      max-height: none;
      width: 100%;
      min-width: 120px;
      display: block;
      padding-top: 30px;
      z-index: 99; } }
  @media (min-width: 1024px) {
    .drop ul:before {
      height: 0;
      width: 0;
      border-bottom: 10px solid #0e9eda;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      position: absolute;
      content: '';
      bottom: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }
  @media (min-width: 1024px) {
    .drop ul {
      background: #0e9eda;
      position: relative;
      padding: 5px 0; } }
  .drop li:first-child {
    padding-top: 20px; }
  @media (min-width: 1024px) {
    .drop li:last-child {
      border-bottom: 0; } }
  @media (min-width: 1024px) {
    .drop li {
      width: 100%;
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); } }
  @media (min-width: 1024px) {
    .drop a:hover {
      color: #e0307e; } }

body {
  min-width: 320px;
  font-weight: 300;
  background: #f3eee9; }
  body.nav-active {
    overflow: hidden;
    height: 100vh; }

.resize-active * {
  -webkit-transition: none;
          transition: none; }

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.81); }
  @media (min-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 20px; } }

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 46px; } }

@media (min-width: 768px) {
  h2, .h2 {
    font-size: 38px;
    margin-bottom: 25px; } }

@media (min-width: 1024px) {
  h2, .h2 {
    margin-bottom: 40px; } }

h2 a, .h2 a {
  color: #000; }
  h2 a:hover, .h2 a:hover {
    color: #0e9eda; }

@media (min-width: 768px) {
  h3, .h3 {
    font-size: 22px; } }

mark {
  background-color: transparent;
  color: #0e9eda;
  padding: 0;
  font-weight: 700; }

a {
  -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }

.btn {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block;
  min-width: 160px;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700; }
  .btn:focus {
    outline: none; }

#main ul:not([id]):not([class]) {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    #main ul:not([id]):not([class]) {
      margin-bottom: 26px; } }
  #main ul:not([id]):not([class]) li {
    position: relative;
    padding-left: 12px; }
    #main ul:not([id]):not([class]) li:before {
      position: absolute;
      content: "";
      top: 10px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #424242; }

.services-section {
  padding: 25px 0;
  background: #f3eee9; }
  @media (min-width: 768px) {
    .services-section {
      padding: 50px 0 90px; } }
  .services-section .item-wrap a {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    background: #000; }
    .services-section .item-wrap a:hover img {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
      opacity: .7; }
    .services-section .item-wrap a img {
      -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
              transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      width: 100%;
      opacity: 1; }
  .services-section .item-wrap h3 {
    font-weight: 700;
    color: #424242; }
  .services-section ul {
    font-size: 12px; }
    .services-section ul li {
      padding-bottom: 10px; }

.more {
  -webkit-transition: padding-right 0.3s ease-in-out;
          transition: padding-right 0.3s ease-in-out;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  padding-right: 15px; }
  .more:after {
    position: absolute;
    bottom: 1px;
    right: 0;
    font-weight: 400;
    font-family: icomoon;
    content: '\f054';
    font-size: 12px; }
  .more:hover {
    padding-right: 20px; }

.hr {
  margin: 30px auto;
  border-top-style: dashed;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }

.news-section {
  margin-top: -70px;
  position: relative;
  z-index: 1; }
  .news-section .news-wrap {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
    background-color: #f8f5f2;
    border-radius: 4px;
    min-height: 160px;
    padding: 10px 15px; }

.goals-section {
  background: #0e9eda;
  color: #fff;
  background-size: cover;
  padding: 160px 0 50px;
  margin-top: -100px;
  text-align: center; }
  .goals-section h2 {
    color: #fff;
    text-shadow: none; }
  .goals-section p {
    margin-bottom: 25px; }

.number-box .numbers {
  position: relative;
  display: block;
  font-size: 60px;
  font-family: "Roboto Slab", serif; }

.about-section {
  padding: 25px 0; }
  @media (min-width: 768px) {
    .about-section {
      padding: 50px 0; } }
  .about-section .row {
    margin-bottom: 15px; }
    .about-section .row:last-child {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .about-section .row {
        margin-bottom: 30px; } }
    @media (min-width: 1024px) {
      .about-section .row {
        margin-bottom: 50px; } }
  .about-section .form-holder {
    background-color: #f8f5f2;
    border-radius: 3px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    padding: 15px; }
    @media (min-width: 768px) {
      .about-section .form-holder {
        padding: 30px; } }

.video-wrap {
  padding-top: 56.25%;
  position: relative;
  height: 200px; }
  @media (min-width: 768px) {
    .video-wrap {
      height: 250px; } }
  @media (min-width: 1024px) {
    .video-wrap {
      height: 360px; } }
  .video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.form-subscribe label {
  font-weight: 300; }

.form-subscribe .btn {
  width: 100%;
  font-weight: 400;
  padding: 10px 15px;
  margin-top: 20px; }

.testominials-section {
  position: relative;
  padding: 25px 0;
  background: url(../images/bg02.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center; }
  .testominials-section:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px;
    background: rgba(14, 158, 218, 0.7); }
  @media (min-width: 1024px) {
    .testominials-section {
      padding: 50px 0;
      min-height: 300px; } }
  .testominials-section .container {
    position: relative;
    z-index: 1; }
  .testominials-section h2,
  .testominials-section mark {
    color: #fff;
    text-shadow: none; }

@media (min-width: 1024px) {
  .testominials-slider {
    padding-bottom: 60px; } }

.testominials-slider blockquote {
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 14px; }
  @media (min-width: 768px) {
    .testominials-slider blockquote {
      padding: 0 20px; } }
  .testominials-slider blockquote q {
    position: relative;
    display: block;
    background: #fff;
    text-align: left;
    padding: 10px 15px;
    margin-bottom: 20px; }
    .testominials-slider blockquote q:after {
      height: 0;
      width: 0;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-top: 13px solid #fff;
      position: absolute;
      content: "";
      bottom: -13px;
      right: 10px; }
  .testominials-slider blockquote cite {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    color: #fff; }
  .testominials-slider blockquote time {
    color: #cdcdcd;
    font-style: normal; }

blockquote {
  border: 0;
  font-size: 16px;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: italic; }
  blockquote cite, blockquote time {
    display: block;
    text-align: right; }

.garanty-section {
  padding: 25px 0; }
  @media (min-width: 768px) {
    .garanty-section {
      padding: 50px 0; } }

.block-quality {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #dbdbdb;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  min-height: 190px; }
  .block-quality.big {
    position: relative;
    text-align: center;
    min-height: auto; }
    .block-quality.big:before, .block-quality.big:after {
      position: absolute;
      color: #0e9eda;
      font-size: 20px; }
      @media (min-width: 1024px) {
        .block-quality.big:before, .block-quality.big:after {
          font-size: 30px; } }
    .block-quality.big:before {
      content: "\f10d";
      top: 15px;
      left: 15px; }
    .block-quality.big:after {
      content: "\f10e";
      bottom: 15px;
      right: 15px; }
    .block-quality.big h3 {
      font-size: 20px; }
  .block-quality .heading {
    position: relative;
    padding-left: 60px; }
  .block-quality span {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 30px;
    color: #0e9eda; }
  .block-quality h3 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 700; }
  .block-quality p:last-child {
    margin-bottom: 0; }

.hero-holder {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  min-height: 200px;
  padding: 50px 0;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .hero-holder {
      min-height: 300px;
      padding: 75px 0; } }
  @media (min-width: 1024px) {
    .hero-holder {
      min-height: 500px; } }
  @media (min-width: 768px) {
    .hero-holder .text-holder {
      width: 70%; } }
  @media (min-width: 1024px) {
    .hero-holder .text-holder {
      width: 50%; } }

.items-holder {
  padding: 25px 0; }
  @media (min-width: 768px) {
    .items-holder {
      padding: 50px 0; } }
  .items-holder .item-wrap {
    background-color: #fff;
    padding: 15px 20px; }
  .items-holder h3 {
    position: relative;
    padding-left: 50px; }
    .items-holder h3:before {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 10px;
      content: "\f118";
      color: #0e9eda;
      font-size: 30px; }

#content {
  padding: 30px 0;
  background: #fff; }
  @media (min-width: 1024px) {
    #content {
      padding: 50px 0; } }

#aside .blockquote-aside {
  position: relative;
  font-style: italic;
  color: #747474;
  font-size: 12px;
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 25px; }

#aside blockquote {
  padding: 0;
  margin-bottom: 0;
  font-family: "Times New Roman", Times, Georgia, serif; }

#aside .contacts-wrap .title {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #0e9eda;
  font-weight: 400;
  font-style: normal; }

#aside .contacts-wrap .contacts-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: normal; }
  #aside .contacts-wrap .contacts-list li {
    padding-left: 0; }

#footer {
  background: url(../images/bg01.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  font-size: 12px;
  padding: 25px 0;
  text-align: center; }
  @media (min-width: 768px) {
    #footer {
      font-size: 14px; } }
  @media (min-width: 1024px) {
    #footer {
      padding: 50px 0; } }
  #footer .container {
    max-width: 1000px; }
  #footer h2 {
    color: #fff;
    text-shadow: none; }
    @media (min-width: 1024px) {
      #footer h2 {
        margin-bottom: 50px; } }

.footer-tabs {
  font-weight: 700; }
  .footer-tabs .nav-tabs {
    padding-top: 30px; }
    @media (min-width: 1024px) {
      .footer-tabs .nav-tabs {
        padding-top: 50px; } }
    .footer-tabs .nav-tabs li {
      display: inline-block;
      vertical-align: middle;
      float: none;
      text-transform: uppercase;
      min-width: 200px; }
      .footer-tabs .nav-tabs li.active a {
        border-bottom: 2px solid #0e9eda; }
      .footer-tabs .nav-tabs li a {
        -webkit-transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
                transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
        color: #fff;
        border-bottom: 2px solid #0e9eda;
        cursor: pointer; }
        .footer-tabs .nav-tabs li a:hover, .footer-tabs .nav-tabs li a:focus {
          border-bottom-color: #0e9eda;
          background-color: #0e9eda;
          color: #fff; }
  .footer-tabs .tab-content {
    padding-top: 15px; }
    @media (min-width: 768px) {
      .footer-tabs .tab-content {
        padding-top: 30px; } }
    @media (min-width: 1024px) {
      .footer-tabs .tab-content {
        padding-top: 80px;
        min-height: 230px; } }
  .footer-tabs .contacts-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    font-weight: 400; }
    @media (min-width: 1024px) {
      .footer-tabs .contacts-list li {
        padding: 0 20px;
        width: 28%; } }
    .footer-tabs .contacts-list li span {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: #0e9eda;
      color: #fff;
      border-radius: 50%;
      font-size: 26px;
      line-height: 50px;
      margin: 0 0 10px 0; }
      @media (min-width: 1024px) {
        .footer-tabs .contacts-list li span {
          margin-bottom: 20px; } }
    .footer-tabs .contacts-list a {
      color: #fff; }
      .footer-tabs .contacts-list a:hover {
        color: #0e9eda; }

.map-holder {
  margin-top: -30px; }
  .map-holder iframe {
    width: 100%;
    border: 0;
    height: 170px; }
    @media (min-width: 1024px) {
      .map-holder iframe {
        height: 250px; } }

/* Slick slider styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  -webkit-transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
          transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  position: absolute;
  top: 49%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 18px;
  height: 28px;
  text-indent: -9999px;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #fff;
  outline: none; }
  .slick-prev:after,
  .slick-next:after {
    -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
    position: absolute;
    text-indent: 0;
    top: 50%;
    left: 50%;
    width: 18px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: 'icomoon';
    font-size: 28px;
    line-height: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
    @media (min-width: 768px) {
      .slick-prev:after,
      .slick-next:after {
        font-size: 44px;
        width: 34px; } }
  .slick-prev:hover,
  .slick-next:hover {
    color: #e0307e; }
  @media (min-width: 768px) {
    .slick-prev,
    .slick-next {
      width: 34px;
      height: 44px; } }

.slick-prev {
  left: 10px; }
  .slick-prev:after {
    content: '\f053'; }
  @media (min-width: 768px) {
    .slick-prev {
      left: 15px; } }
  @media (min-width: 1024px) {
    .slick-prev {
      left: 28px; } }

.slick-next {
  right: 10px; }
  .slick-next:after {
    content: '\f054'; }
  @media (min-width: 768px) {
    .slick-next {
      right: 15px; } }
  @media (min-width: 1024px) {
    .slick-next {
      right: 28px; } }

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 51%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 0;
  font-size: 0; }
  @media (min-width: 768px) {
    .slick-dots {
      bottom: 32px; } }
  .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px; }
    .slick-dots li.slick-active button {
      background: #0e9eda; }
    @media (min-width: 768px) {
      .slick-dots li {
        margin: 0 4px; } }
  .slick-dots button {
    -webkit-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
    text-indent: -9999px;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    border: 0;
    padding: 0; }
    .slick-dots button:hover {
      background: #0e9eda; }
    .slick-dots button:focus {
      outline: none; }
    @media (min-width: 768px) {
      .slick-dots button {
        width: 10px;
        height: 10px; } }

.promo-slider {
  min-height: 350px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .promo-slider {
      min-height: 500px; } }
  @media (min-width: 1024px) {
    .promo-slider {
      min-height: 650px; } }
  .promo-slider .slick-slide {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 70px 40px 30px;
    min-height: 350px; }
    @media (min-width: 768px) {
      .promo-slider .slick-slide {
        min-height: 500px;
        padding: 70px 50px 30px; } }
    @media (min-width: 1024px) {
      .promo-slider .slick-slide {
        min-height: 650px; } }
  .promo-slider .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 768px) {
      .promo-slider .container {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .promo-slider .text-wrap {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    color: #424242; }
    @media (min-width: 768px) {
      .promo-slider .text-wrap {
        text-align: right;
        max-width: 60%;
        margin-right: 30px; } }
    @media (min-width: 1024px) {
      .promo-slider .text-wrap {
        max-width: 56%;
        margin-right: 40px; } }
    @media (min-width: 1200px) {
      .promo-slider .text-wrap {
        margin-right: 20px;
        max-width: 55%; } }
    .promo-slider .text-wrap h1, .promo-slider .text-wrap h2, .promo-slider .text-wrap h3 {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.81);
      color: #424242;
      font-weight: 700; }
    @media (min-width: 1024px) {
      .promo-slider .text-wrap h1 {
        font-size: 78px; } }
    @media (min-width: 1024px) {
      .promo-slider .text-wrap h2 {
        font-size: 60px; } }
    @media (min-width: 768px) {
      .promo-slider .text-wrap h3 {
        font-size: 38px; } }
    @media (min-width: 1024px) {
      .promo-slider .text-wrap h3 {
        font-size: 53px; } }
    @media (min-width: 1200px) {
      .promo-slider .text-wrap h3 {
        font-size: 60px; } }

/* custom radio styles */
.jcf-radio {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: default;
  background: #fff;
  border: 1px solid #0e9eda;
  border-radius: 50px;
  margin: 0 3px 0 0;
  height: 16px;
  width: 16px;
  outline: none; }

.jcf-radio span {
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
          transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: #0e9eda;
  border-radius: 50%; }

.jcf-radio input[type="radio"] {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0; }

.jcf-radio.jcf-checked span {
  width: 110%;
  height: 110%; }

/* custom select styles */
.jcf-select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #979797;
  background: #fff;
  min-width: 150px;
  height: 35px;
  cursor: pointer; }

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0; }

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: #979797;
  font-size: 14px;
  line-height: 33px;
  margin: 0 35px 0 10px; }

.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  background: rgba(14, 158, 218, 0.5);
  width: 26px;
  bottom: 0;
  right: 0;
  top: 0; }
  .jcf-select .jcf-select-opener:after {
    position: absolute;
    content: '\e908';
    font-family: icomoon;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff; }

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999; }

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0; }

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px; }

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto; }

.jcf-select-drop .jcf-select-drop-content {
  border: 1px solid #0e9eda; }

/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px; }

/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 12px;
  width: 100%; }

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%; }

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.jcf-list ul li {
  overflow: hidden;
  display: block; }

.jcf-list .jcf-overflow {
  overflow: auto; }

.jcf-list .jcf-option {
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 5px 9px;
  color: #656565;
  height: 1%; }

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important; }

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: rgba(14, 158, 218, 0.2);
  color: #000; }

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
  cursor: default;
  color: #000; }

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px; }

/* common custom form elements styles */
.jcf-disabled {
  background: #ddd !important; }

.jcf-focus,
.jcf-focus * {
  border-color: #0e9eda !important; }

.jcf-select-drop .jcf-option-hideme {
  display: none; }

.fancybox-enabled {
  overflow: hidden; }

.fancybox-enabled body {
  overflow: visible;
  -ms-touch-action: none;
  touch-action: none; }

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Make sure that the first one is on the top */
.fancybox-container ~ .fancybox-container {
  z-index: 99992; }

.fancybox-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0f0f11;
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-container--ready .fancybox-bg {
  opacity: 0.87;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  z-index: 99994;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  direction: ltr; }

.fancybox-show-controls .fancybox-controls {
  opacity: 1; }

.fancybox-infobar {
  display: none; }

.fancybox-show-infobar .fancybox-infobar {
  display: inline-block;
  pointer-events: all; }

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  color: #ddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased; }

.fancybox-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  pointer-events: all; }

.fancybox-show-buttons .fancybox-buttons {
  display: block; }

.fancybox-slider-wrap {
  overflow: hidden;
  direction: ltr; }

.fancybox-slider-wrap,
.fancybox-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0; }

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box; }

.fancybox-slide--image {
  overflow: hidden; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-content {
  display: inline-block;
  position: relative;
  margin: 44px auto;
  padding: 0;
  border: 0;
  width: 80%;
  height: calc(100% - 88px);
  vertical-align: middle;
  line-height: normal;
  text-align: left;
  white-space: normal;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch; }

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video .fancybox-iframe {
  background: transparent; }

.fancybox-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  background: transparent;
  background-size: 100% 100%; }

.fancybox-controls--canzoomOut .fancybox-placeholder {
  cursor: zoom-out; }

.fancybox-controls--canzoomIn .fancybox-placeholder {
  cursor: zoom-in; }

.fancybox-controls--canGrab .fancybox-placeholder {
  cursor: grab; }

.fancybox-controls--isGrabbing .fancybox-placeholder {
  cursor: grabbing; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.fancybox-error {
  position: absolute;
  margin: 0;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 380px;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  cursor: default; }

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }

.fancybox-close-small {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  font: 21px/1 Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
  background: #fff;
  -webkit-transition: background .2s;
          transition: background .2s;
  box-sizing: border-box;
  z-index: 2; }

.fancybox-close-small:focus {
  outline: 1px dotted #888; }

.fancybox-slide--video .fancybox-close-small {
  top: -36px;
  right: -36px;
  background: transparent; }

.fancybox-close-small:hover {
  color: #555;
  background: #eee; }

/* Caption */
.fancybox-caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0 30px;
  z-index: 99998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
  pointer-events: none; }

.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1; }

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

.fancybox-caption a,
.fancybox-caption button {
  pointer-events: all; }

.fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

/* Buttons */
.fancybox-button {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  outline: none; }

.fancybox-button--disabled {
  cursor: default;
  pointer-events: none; }

.fancybox-infobar__body, .fancybox-button {
  background: rgba(30, 30, 30, 0.6); }

.fancybox-button:hover {
  background: rgba(0, 0, 0, 0.8); }

.fancybox-button::before,
.fancybox-button::after {
  content: '';
  pointer-events: none;
  position: absolute;
  border-color: #fff;
  background-color: currentColor;
  color: currentColor;
  opacity: 0.9;
  box-sizing: border-box;
  display: inline-block; }

.fancybox-button--disabled::before,
.fancybox-button--disabled::after {
  opacity: 0.5; }

.fancybox-button--left::after {
  left: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.fancybox-button--right::after {
  right: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.fancybox-button--left {
  border-bottom-left-radius: 5px; }

.fancybox-button--right {
  border-bottom-right-radius: 5px; }

.fancybox-button--close {
  float: right; }

.fancybox-button--close::before, .fancybox-button--close::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  left: calc(50% - 8px); }

.fancybox-button--close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.fancybox-button--close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* Loading spinner */
.fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-controls {
    text-align: left; }
  .fancybox-button--left,
  .fancybox-button--right,
  .fancybox-buttons button:not(.fancybox-button--close) {
    display: none !important; }
  .fancybox-caption {
    padding: 20px 0;
    margin: 0; } }

/* Fullscreen  */
.fancybox-button--fullscreen::before {
  width: 15px;
  height: 11px;
  left: 15px;
  top: 16px;
  border: 2px solid;
  background: none; }

/* Slideshow button */
.fancybox-button--play::before {
  top: 16px;
  left: 18px;
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
  background: transparent; }

.fancybox-button--pause::before {
  top: 16px;
  left: 18px;
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px 0 2px;
  background: transparent; }

/* Thumbs */
.fancybox-button--thumbs span {
  font-size: 23px; }

.fancybox-button--thumbs::before {
  top: 20px;
  left: 21px;
  width: 3px;
  height: 3px;
  box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0; }

.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap,
.fancybox-container--thumbs .fancybox-caption-wrap {
  right: 220px; }

.fancybox-thumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 220px;
  margin: 0;
  padding: 5px 5px 0 0;
  background: #fff;
  z-index: 99993;
  word-break: normal;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0; }

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  max-width: 50%;
  padding: 0;
  margin: 0;
  width: 105px;
  height: 75px;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 5px solid #fff;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box; }

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-thumbs > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    display: none !important; }
  .fancybox-container--thumbs .fancybox-controls,
  .fancybox-container--thumbs .fancybox-slider-wrap,
  .fancybox-container--thumbs .fancybox-caption-wrap {
    right: 0; } }
/*# sourceMappingURL=main.css.map */